/*#canvas
{
	position: absolute;
    width:500px;
    height:500px;
    left: 50%;
    margin-left: -250px;
    margin-top: 14px;
    background-color: #F0F0F0;
}*/

#canvasContainer {
	text-align: center;
}

#canvas {
	position: absolute;
	left: 35%;
	width: 500px;
	height: 500px;
	background-color: #F0F0F0;
}

#header {
	font-family: "Lato", sans-serif;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 40px;
	height: 50px;
	text-align: center;
}

#buttonContainer {
	padding-top: 20px;
	position: absolute;
	left: 35%;
	margin-left: -130px;
}

#addButton {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	border-radius: 14px;
	margin-bottom: 5px;
}