body {
	position: absolute;
	margin:0;
	padding:0;
	width: 100%;
}

#main-wrapper {
	width: 1024px;
	margin: 0 auto;
}

/* Github/LinkedIn buttons _________________________________________________________________*/

#support-social-buttons-wrapper {
	float: right;
	text-align: right;
}

#home-social-buttons-wrapper {
	width: inherit;
	text-align: right;
	margin-top: 60px;	
}

#linkedIn {
	width: 60px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
}

#linkedIn:hover {
	box-shadow: #74aefd 0 0 12px;
}

#linkedIn:active {
	box-shadow: #74aefd 0 0 12px;
}

#gitHub {
	width: 60px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
}

#gitHub:hover {
	box-shadow: #74aefd 0 0 12px;
}

#gitHub:active {
	box-shadow: #74aefd 0 0 12px;
}

/* Github/LinkedIn buttons _________________________________________________________________*/

/* main _________________________________________________________________*/

#name-wrapper {
	width: inherit;
	margin-top: -120px;
}

#name {
	font-size: 6em;
	text-align: center;
	font-family: "Lato", sans-serif;
	width: 4.75em;
	padding-top:0.1em;
	padding-bottom:0.2em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	cursor: default;
}

#home-nav-wrapper {
	width: 40em;
	margin-top: 0.8em;
	margin-left: 12em;
}

#simple-description { /* used when script-enabled as well */
	text-align: center;
	font-size: 1.5em;
	font-family: "Open Sans", sans-serif;
	color: white;
	display: block;
	margin-top: 1.5em;
	padding: 1em 1em 1em 1em;
	background-color: #8FC7C9;
	opacity: 0;
}

/* main _________________________________________________________________*/

#title-wrapper {
	font-size: 4em;
	font-family: "Lato", sans-serif;
	width: inherit;
	margin-top: 0.9em;
	margin-bottom: 0.9em;
	cursor: default;
}

/* Project _________________________________________________________________*/

.project-block {
	background-color: #F4F4F4;
	padding: 1em;
	margin-bottom: 2em;
}

.project-heading {
	font-size: 1.3em;
	cursor: default;
}

.proj-desc, .proj-hidden {
	padding-top: 1.5em;
	color: #3B3B3B;
}

.proj-hidden {
	display: none;
}

.proj-img {
	text-align: center;
}

.project-inner-heading {
	float: left;
	font-weight: 600;
}

.project-tech {
	float: right;
	text-decoration: italic;
	color: #555;
}

.ellipsis-button-parent {
	text-align: center;
}

.ellipsis-button {
	margin-top: 14px;
	color: #eee;
	border: none;
	background: #777;
	border-radius: 0.3em;
	line-height: 10px;
	padding: 0 16px 12px 16px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.ellipsis-button:hover {
	background: #555;
}

.ellipsis-button:active {
	outline: 0;
	background: #454545;
}

.ellipsis-button:focus {
	outline: 0;
}

.clear {
	clear: both;
}

#project-body {
	font-family: "Open Sans", sans-serif;
	padding-bottom: 12em;
	width: inherit;
	cursor: default;
	font-size: 15px;
}

#screenshot1 {
	width: 24em;
}

#screenshot2 {
	height: 20em;
}

.try-it-out {
	border: none;
	background: none;
	padding: 0.0em 0.4em;
	font-size: 0.8em;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: -0.3em;
	margin-top: -0.1em;
	cursor:pointer;
	background: #2DBBF7;
	border-radius: 0.3em;
	color: white;
}

.try-it-out:hover {
   border-top-color: #454545;
   background: #454545;
   color: #ccc;
   border-radius: 0.3em;
}

.try-it-out:active {
   border-top-color: #1b435e;
   background: #1b435e;
   border-radius: 0.3em;
}

.unobtrusive-link {
	text-decoration: none;
}

.unobtrusive-link:hover {
	color: #888;
}

/* Project _________________________________________________________________*/

/* About _________________________________________________________________*/

#about-body {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 12em;
    width: inherit;
    cursor: default;
    font-size: 15px;    
}

.about-paragraph {
    margin-bottom: ;
    font-size: 24px;
    margin: 0 auto;
    width: 80%;
    font-weight: 300;
}

#about-paragraph-1 {
    margin-bottom: 40px;
}

#about-paragraph-2 {
    margin-bottom: 64px;
}

#about-page-buttons-parent {
    text-align: center;
}

#about-page-buttons-parent a {
    text-decoration: none;
    background: #2DBBF7;
    border-radius: 0.3em;
    color: white;
    padding: 5px 18px;
    font-size: 28px;
    cursor: pointer;
}

#about-page-buttons-parent a:hover {
    background: #17AAE8;
}

#about-page-buttons-parent a:active {
    background: #0F9DD9;
}

#about-page-buttons-parent a:first-child {
    margin-right: 20px;
}

/* About _________________________________________________________________*/

/* Resume _________________________________________________________________*/

#res-container {
    margin: 0 auto 150px auto;
    width: 900px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 16px;
}

#res-header {
    margin-bottom: 5px;
}

#res-header h1 {
    font-weight: 700;
    font-size: 60px;
    color: #2a2a2a;
    margin: 2px 18px 0 0;
    display: inline-block;
}

#res-header span {
    margin: 0 8px;
    font-weight: 300;
}

#res-container a {
    text-decoration: none;
    color: #3a3a3a;
}

section {
    margin-bottom: 12px;
    background-color: #f8f8f8;
    padding: 0 8px;
}

section h1 {
    color: #9a9a9a;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #dadada;
}

section h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
    color: #3a3a3a;
}

.job-title {
    font-weight:normal;
}

#technical-expertise ul {
    list-style-type: none;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

#technical-expertise ul strong {
    color: #4a4a4a;
    margin-right: 5px;
}

.info-box ul {
    list-style-type: none;
    line-height: 18px;
    margin: 0;
}

.info-box ul li {
    margin-bottom: 8px;
}

.info-box {
    margin-bottom: 12px;
}

.info-box-last {
    margin-bottom: 0px;
}

.left-box {
    float: left;
    width: 40%;
}

.right-box {
    float: right;
    width: 60%;
}

.clear-both {
    clear: both;
}

.info-box-date {
    font-style: italic;
}

/* Resume _________________________________________________________________*/

/* Navbar _________________________________________________________________*/

#support-nav-background {
	width: 100%;
	position: fixed;
	background-color: #E3F1FF;
	bottom: 0%;
	text-align: center;
	padding-top: 1.0em;
	padding-bottom: 1.0em;
}

#support-nav-wrapper {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.button {
	border: none;
	background: none;
	padding: 0.2em 0.4em;
	font-size: 2em;
	color: #555555;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	cursor:pointer;
}

.button:hover {
   border-top-color: #454545;
   background: #454545;
   color: #ccc;
   border-radius: 0.3em;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   border-radius: 0.3em;
}

.button-focus {
	border: none;
	background: none;
	padding: 0.2em 0.4em;
	font-size: 2em;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-top-color: #454545;
	background: #454545;
	color: #ccc;
	border-radius: 0.3em;
}

.button-focus:active {
	border-top-color: #1b435e;
	background: #1b435e;
	border-radius: 0.3em;
}

/* Navbar _________________________________________________________________*/